$breakpoints: (
        'smallest-iPhone5' : 320px,
        'smaller-iPhone6' : 375px,
        'very-small' : 480px,
        'small' : 767px,
        'medium' : 992px,
        'large' : 1200px,

        'navbar-searchWrapper-breakpoint' : 580px,

        'footer-menu-mobile-breakpoint' : 410px,

        'searchbar-input-breakpoint' : 460px,

        'desktop-breakpoint' : 910px,

        'notification-page-breakpoint' : 700px,

        'contentWidth' : 660px,
);


$sg-xxs: 10px;
$sg-xs: 15px;
$sg-s: 20px;
$sg-m: 25px;
$sg-l: 30px;
$sg-xl: 35px;

$bg-xs: 40px;
$bg-s: 50px;
$bg-m: 60px;
$bg-l: 70px;
$bg-xl: 100px;

$buttonHeight: 36px;

$contentWidth: 660px;

$navbarHeight: 45px;

$siteWidth: 1024px;

$radius: 2px;

$thumbnailAspectRatio: 56.25%; // 16:9
// $thumbnailAspectRatio: 66.66%; // 3:2
// $thumbnailAspectRatio: 75%; // 4:3

