<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Primary Meta Tags -->
    <title>{{ .Title }}</title>

    <meta name="title" content="{{ .Title }}">
    <meta name="description" content="{{ .Description }}">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:title" content="Corona Process Overview">
    <meta property="og:description"
          content="Übersicht und Problemanalyse der Selbstauskunfts- und Patientenüberwachungsprozesse des Covid-19 Ausbruchs im Rahmen des WirVsVirus Hackathons der Bundesregierung.">
    <meta property="og:image"
          content="/images/{{ index .Site.Data.images.hash "social-share.jpg" }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Corona Process Overview">
    <meta property="twitter:description"
          content="Übersicht und Problemanalyse der Selbstauskunfts- und Patientenüberwachungsprozesse des Covid-19 Ausbruchs im Rahmen des WirVsVirus Hackathons der Bundesregierung.">
    <meta property="twitter:image"
          content="/images/{{ index .Site.Data.images.hash "social-share.jpg" }}">

    {{ if eq (getenv "ENV") "production" }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "index.css" }}" />
</head>
