<nav class="navbar">
    <a href="https://wirvsvirushackathon.org/" class="icon">
        <img width="191" height="34"  src="/images/{{ index .Site.Data.images.hash "logo.jpg" }}" alt="logo">
    </a>

    <div class="navbar-item-group">
        <a class="navbar-item" href="#intro-section">Intro</a>
        <a class="navbar-item" href="#process-section">Prozess</a>
        <a class="navbar-item" href="#stakeholder-section">Stakeholder</a>
        <a class="navbar-item" href="#problem-section">Probleme</a>
        <a class="navbar-item" href="#methodology-section">Methodology</a>
        <a class="navbar-item" href="#weitere-section">Weitere Arbeit</a>
    </div>
</nav>
