{{ partial "head.html" . }}

<body>

{{ partial "navbar.html" . }}

<div class="header">

    <section id="intro-section" class="anchor">
        <div class="header-image">
            <img height="220px" src="/images/{{ index .Site.Data.images.hash "header-illustration.jpg" }}">
        </div>

        <h1 class="headline">Corona Selbstmelde Flow Chart</h1>

        <p class="header-content">
            {{ i18n "header-content"}}
        </p>

    </section>
    <p class="header-content"><strong><a
            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQTgBVglAWpRqYRFpNCmWUm9ZkSdfPu8T-0nQASuOXf9whAIcBmbJh8mSpTVeeln-9oOSBDCrst0FWV/pubhtml?gid=112319258&single=true">
        {{ i18n "resources"}}</a></strong></p>

    <section id="process-section" class="anchor">
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vRJOKZJ-Ch_iQxy1Xa8OQWokyQp3fYzZBC-iTxS2q-r1j882zfxKC2tsvWH9CQh5341RODHPX1CmJIO/pub?h=1200"
             alt="Vereinfachtes Prozessdiagramm">
    </section>

    <div class="button-row">
        <a href="downloads/diagram.pdf" class="button-default" download>
            PDF
            <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
        </a>

        <a href="downloads/diagram.jpg" class="button-default" download>
            JPG
            <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
        </a>
    </div>

    <div class="divider"></div>

    <section id="stakeholder-section" class="anchor">
        <h2 class="headline">{{ i18n "stakeholder-header" }}</h2>

        <div class="table-container">
            <div class="table-row table-row-top">
                <div class="cell">{{ i18n "s-r1-c1" }}</div>
                <div class="cell">{{ i18n "s-r1-c2" }}</div>
                <div class="cell">{{ i18n "s-r1-c3" }}</div>
                <div class="cell">{{ i18n "s-r1-c4" }}</div>
            </div>
            <div class="table-row table-row-mid">
                <p class="cell">{{ i18n "s-r2-c1" }}</p>
                <p class="cell">{{ i18n "s-r2-c2" }}</p>
                <p class="cell">{{ i18n "s-r2-c3" }}</p>
                <p class="cell">{{ i18n "s-r2-c4" }}</p>
            </div>
            <div class="table-row table-row-bottom">
                <div class="cell"><p class="bold">{{ i18n "s-r3-c1" }}</p>
                    <p>{{ i18n "s-r3-c1-sub" }}</p></div>
                <p class="cell">{{ i18n "s-r3-c2" }}</p>
                <p class="cell">{{ i18n "s-r3-c3" }}</p>
                <p class="cell">{{ i18n "s-r3-c4" }}</p>
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section id="problem-section" class="anchor">

        <div class="header-image">
            <img height="252px" src="/svg/{{ index .Site.Data.images.hash "open-problems.svg" }}" alt="open problems
            illustrations">
        </div>

        <h2 class="headline"></h2>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_document-process.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-1" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-1" }}</p>
            </div>
        </div>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_problem.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-2" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-2-1" }}</p>
                <p class="avatar-row-content">{{ i18n "problem-content-2-2" }}</p>
            </div>
        </div>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_policy.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-3" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-3" }}</p>
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section id="methodology-section" class="anchor">

        <div class="header-image">
            <img height="252px" src="/svg/{{ index .Site.Data.svg.hash "motivation.svg" }}" alt="open problems illustrations">
        </div>

        <h2 class="headline">{{ i18n "methodology-header" }}</h2>

        <p class="header-content">{{ i18n "methodology-content" }}</p>
    </section>

    <section id="weitere-section" class="anchor">

        <h2 class="headline">Further Work</h2>
    </section>

</div>

{{ partial "footer.html" . }}

<script src="/js/{{ index .Site.Data.js.hash "index.js" }}"></script>
</body>
</html>
