{{ partial "head.html" . }}

<body>

{{ partial "navbar.html" . }}

<div class="content">

    <section id="intro-section" class="intro-container anchor">

        <div class="intro-content">
            <h1>{{ i18n "headline" }}</h1>
            <p>
                {{ i18n "one-liner"}}
            </p>
        </div>

        <div class="header-image">
            <img height="220px" src="/images/{{ index .Site.Data.images.hash "preview-header.png" }}">
        </div>
    </section>

    <section id="process-section" class="anchor">
        <p class="header-content">
            {{ i18n "header-content"}}
        </p>
        <div class="tab-container">
            <div id="completeTab" class="tab-links active" onclick="openTab(event)">
                {{ i18n "diagram-complete"}}
                <div class="underline"></div>
            </div>
            <div id="normalTab" class="tab-links" onclick="openTab(event)">
                {{ i18n "diagram-normal"}}
                <div class="underline"></div>
            </div>
            <div id="overloadTab" class="tab-links" onclick="openTab(event)">
                {{ i18n "diagram-overload"}}
                <div class="underline"></div>
            </div>
        </div>

        <div class="complete tab-content active">
            <img class="diagram" src="images/{{ index .Site.Data.images.hash "diagram-complete.jpg" }}" alt="complete process">
            <div class="button-row">
                <a href="downloads/diagram-complete.pdf" class="button-default" download="covid_meldeflow_komplett">
                    PDF
                    <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
                </a>

                <a href="downloads/diagram-complete_h.jpg" class="button-default" download="covid_meldeflow_komplett">
                    JPG
                    <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
                </a>
            </div>
        </div>

        <div class="normal tab-content">
            <img class="diagram" src="images/{{ index .Site.Data.images.hash "diagram-normal.jpg" }}" alt="process under normal operation">
            <div class="button-row">
                <a href="downloads/diagram-normal.pdf" class="button-default" download="covid_meldeflow_normal">
                    PDF
                    <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
                </a>

                <a href="downloads/diagram-normal_h.jpg" class="button-default" download="covid_meldeflow_normal">
                    JPG
                    <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
                </a>
            </div>
        </div>

        <div class="overload tab-content">
            <img class="diagram" src="images/{{ index .Site.Data.images.hash "diagram-overload.jpg" }}" alt="process under heavy load">
            <div class="button-row">
                <a href="downloads/diagram-overload.pdf" class="button-default" download="covid_meldeflow_ueberladen">
                    PDF
                    <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
                </a>

                <a href="downloads/diagram-overload_h.jpg" class="button-default" download="covid_meldeflow_ueberladen">
                    JPG
                    <img src="/svg/{{ index .Site.Data.images.hash "download.svg" }}" alt="download">
                </a>
            </div>
        </div>
    </section>
    <p class="header-content"><strong><a
            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQTgBVglAWpRqYRFpNCmWUm9ZkSdfPu8T-0nQASuOXf9whAIcBmbJh8mSpTVeeln-9oOSBDCrst0FWV/pubhtml?gid=112319258&single=true">
        {{ i18n "resources"}}</a></strong></p>

    <div class="divider"></div>

    <section id="stakeholder-section" class="anchor">
        <h2 class="headline">{{ i18n "stakeholder-header" }}</h2>

        <div class="table-container">
            <div class="table-row table-row-top">
                <div class="cell">{{ i18n "s-r1-c1" }}</div>
                <div class="cell">{{ i18n "s-r1-c2" }}</div>
                <div class="cell">{{ i18n "s-r1-c3" }}</div>
                <div class="cell">{{ i18n "s-r1-c4" }}</div>
            </div>
            <div class="table-row table-row-mid">
                <p class="cell">{{ i18n "s-r2-c1" }}</p>
                <p class="cell">{{ i18n "s-r2-c2" }}</p>
                <p class="cell">{{ i18n "s-r2-c3" }}</p>
                <p class="cell">{{ i18n "s-r2-c4" }}</p>
            </div>
            <div class="table-row table-row-mid">
                <p class="cell">{{ i18n "s-r3-c1" }}</p>
                <p class="cell">{{ i18n "s-r3-c2" }}</p>
                <p class="cell">{{ i18n "s-r3-c3" }}</p>
                <p class="cell">{{ i18n "s-r3-c4" }}</p>
            </div>
            <div class="table-row table-row-mid">
                <p class="cell">{{ i18n "s-r4-c1" }}</p>
                <p class="cell">{{ i18n "s-r4-c2" }}</p>
                <p class="cell">{{ i18n "s-r4-c3" }}</p>
                <p class="cell">{{ i18n "s-r4-c4" }}</p>
            </div>
            <div class="table-row table-row-mid">
                <p class="cell">{{ i18n "s-r5-c1" }}</p>
                <p class="cell">{{ i18n "s-r5-c2" }}</p>
                <p class="cell">{{ i18n "s-r5-c3" }}</p>
                <p class="cell">{{ i18n "s-r5-c4" }}</p>
            </div>
            <div class="table-row table-row-mid">
                <p class="cell">{{ i18n "s-r6-c1" }}</p>
                <p class="cell">{{ i18n "s-r6-c2" }}</p>
                <p class="cell">{{ i18n "s-r6-c3" }}</p>
                <p class="cell">{{ i18n "s-r6-c4" }}</p>
            </div>
            <div class="table-row table-row-bottom">
                <p class="cell">{{ i18n "s-r7-c1" }}</p>
                <p class="cell">{{ i18n "s-r7-c2" }}</p>
                <p class="cell">{{ i18n "s-r7-c3" }}</p>
                <p class="cell">{{ i18n "s-r7-c4" }}</p>
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section id="problem-section" class="anchor">

        <div class="header-image">
            <img height="252px" src="/svg/{{ index .Site.Data.images.hash "open-problems.svg" }}" alt="open problems illustrations">
        </div>

        <h2 class="headline">{{ i18n "problems-headline" }}</h2>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_document-process.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-1" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-1" }}</p>
            </div>
        </div>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_problem.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-2" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-2-1" }}</p>
                <p class="avatar-row-content">{{ i18n "problem-content-2-2" }}</p>
            </div>
        </div>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_policy.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-3" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-3" }}</p>
            </div>
        </div>

        <div class="avatar-row">
            <img alt="placeholder" class="row-avatar" src="/images/{{ index .Site.Data.images.hash "img_collective.jpg" }}"/>
            <div class="avatar-row-column">
                <h3 class="avatar-row-header">{{ i18n "problem-headers-4" }}</h3>
                <p class="avatar-row-content">{{ i18n "problem-content-4" }}</p>
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section id="methodology-section" class="anchor">

        <div class="header-image">
            <img height="252px" src="/svg/{{ index .Site.Data.svg.hash "motivation.svg" }}" alt="open problems illustrations">
        </div>

        <h2 class="headline">{{ i18n "methodology-header" }}</h2>

        <p class="header-content">{{ i18n "methodology-content" }}</p>
    </section>

    <div class="divider"></div>

    <section id="weitere-section" class="anchor">

        <h2 class="headline">{{ i18n "further-work-header" }}</h2>

        <iframe src="https://cawemo.com/embed/92f758dc-852d-43bc-bd7b-69c3c781a4a8" style="width:700px;height:500px;border:1px solid #ccc" allowfullscreen></iframe>
    </section>

    <div class="contact-wrapper">
        <a href="mailto:info@covidmeldeprozess.de" class="button-default">
            Kontakt
        </a>
    </div>

</div>

{{ partial "footer.html" . }}

<script src="/js/{{ index .Site.Data.js.hash "index.js" }}"></script>
</body>
</html>
