
* {
    font-family: Montserrat, sans-serif;
}

.header {
    margin-top: 24px;
    text-align: center;
}

.headline {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
}

.header-content {
    margin-top: 12px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
    line-height: 20px;
}

.subheader {
    margin-top: 24px;
}
