
* {
    font-family: Montserrat, sans-serif;
}

.navbar {
    background: white;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);

    padding-left: 24px;
    padding-right: 24px;
}

.navbar-item-group {
    display: flex;
    align-items: center;
    min-width: 200px;
}

.navbar-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 70px;

    margin-left: 24px;

    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.navbar-item:hover {
    color: #2D2D2D;
}

.header {
    margin-top: 124px;
    text-align: center;
}

.anchor {
    margin-top: -50px;
    padding-top: 50px;
}

.headline {
    font-weight: bold;
    font-size: 42px;
    line-height: 61px;

    margin-top: 60px;
}

.header-content {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    line-height: 32px
}

.subheader {
    padding-top: 24px;
}

footer {
    margin-top: 100px;
    height: 86px;
}

.footer-item-group {
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
}

.footer-item {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.footer-item:hover {
    color: #2D2D2D;
}
