@import "./base/index.scss";
@import "./footer.scss";
@import "./tabs.scss";
@import "variables";

* {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

$bold: 700;

.bold {
  font-weight: $bold;
}

.diagram {
  width: 100vw;

  @media (min-width: $mobile-break) {
    height: 552px;
    width: initial;
  }
}


.intro-container {
  min-height: 400px;
  background-color: #C4C1FF;
  position: relative;

  .header-image {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: none;

    @media (min-width: $mobile-break) {
      display: block;
    }
  }
}

.intro-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;

  h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    text-align: center;

    color: #0C00CE;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    color: #0C00CE;
  }
}

$navbar-height: 70px;

.navbar {
  background: white;
  position: fixed;
  height: $navbar-height;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);

  padding-left: 24px;
  padding-right: 24px;
}

.navbar-item-group {
  display: none;
  align-items: center;
  min-width: 200px;

  @media (min-width: $mobile-break) {
    display: flex;
  }
}

.navbar-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 70px;

  margin-left: 24px;

  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &.active {
    font-weight: $bold;
  }

  &:hover {
    color: #2D2D2D;
  }
}

.divider {
  margin: 120px 10% 100px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.content {
  margin-top: 70px;
  text-align: center;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $mobile-break) {
    padding: 0;
  }
}

.anchor {
  margin-top: -50px;
  padding-top: 50px;
}

.graph-box {
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(63, 61, 86, 0.12);
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;
  padding: 20px
}

.button-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button-default {
  padding-left: 24px;
  padding-right: 24px;
  height: 49px;

  background: #6C63FF;
  border-radius: 4px;
  box-shadow: 0 4px 20px #C4C1FF;
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;

  cursor: pointer;
}

.button-default img {
  padding-left: 6px;
  width: 20px;
  height: 20px;
}

.button-default path {
  fill: white;
}

.table-container {
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

  @media (min-width: $mobile-break) {
    margin-left: 136px;
    margin-right: 136px;
  }
  margin-top: 80px;
}

.table-row {
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  justify-content: space-evenly;

  padding: 33px;
}

.table-row-top {
  height: 90px;
  border-bottom: 1px solid #4F4F4F;
  align-items: center;
}

.table-row-mid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}


.cell {
  flex-grow: 1;
  text-align: left;

  font-size: 14px;
  line-height: 24px;
  width: 20%;

  margin-right: 30px;
}

.table-row-top .cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;

  overflow: hidden;

  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.headline {
  font-weight: bold;
  font-size: 42px;
  line-height: 61px;

  margin-top: 60px;
}

.header-content {
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px;
  line-height: 32px
}

.subheader {
  padding-top: 24px;
  font-size: 16px;
  line-height: 20px;
}

.avatar-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

  img {
    display: none;

    @media (min-width: $mobile-break) {
      display: block;
    }
  }
}

.row-avatar {
  height: 204px;
}

.avatar-row-column {
  text-align: left;
  max-width: 640px;

  @media (min-width: $mobile-break) {
    margin-left: 90px;
  }

  width: 100%;
}

.avatar-row-header {
  font-size: 28px;
  line-height: 40px;
  margin-top: 0;
}

.avatar-row-content {
  font-size: 16px;
  line-height: 28px;
}

.contact-wrapper {
  width: 200px;
  margin-top: 82px;
  margin-bottom: 82px;

  margin-left: auto;
  margin-right: auto;
}
